@import "tailwindcss";

/* 1. Manuálne nadefinovanie fontu */
@theme {
  /* 2. Priradenie k premenným */
  --font-sans: "Nunito Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  
  /* Farby */
  --color-dm-el: hsl(209, 23%, 22%);
  --color-dm-bg: hsl(207, 26%, 17%);
  --color-lm-text: hsl(200, 15%, 8%);
  --color-lm-input: hsl(0, 0%, 50%);
  --color-lm-bg: hsl(0, 0%, 99%);
  --color-white: hsl(0, 100%, 100%);
}

/* 3. Vynútenie na celú aplikáciu */
@layer base {
  html, body, #root {
    /* Pridajme 'sans-serif' ako poistku a skúsme zmeniť poradie */
    font-family: "Nunito Sans",sans-serif !important;
    font-feature-settings: "cv08" 0, "ss01" 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  
}
