@import "tailwindcss";

/* 1. Manually define the font */
@theme {
  /* 2. Assignment to variables */
  --font-sans: "Nunito Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  
  /* Farby */
  --color-dm-el: hsl(209, 23%, 22%);
  --color-dm-bg: hsl(207, 26%, 17%);
  --color-lm-text: hsl(200, 15%, 8%);
  --color-lm-input: hsl(0, 0%, 50%);
  --color-lm-bg: hsl(0, 0%, 99%);
  --color-white: hsl(0, 100%, 100%);
  --color-blue: hsl(205, 100%, 36%);
}

/* 3. Force for the entire application */
@layer base {
  html, body{    
    font-family: "Nunito Sans",sans-serif;
    font-feature-settings: "cv08" 0, "ss01" 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  
}
